<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeons & Dragons :: Top 10 Strongest Boss Monsters</title>
    <!-- ++++++++++++++ FAVICON  ++++++++++++++++-->
    <link rel="shortcut icon" href="images/favicon.png" type="images/x-icon">
    <!-- ++++++++++++++ ICON LIBRARY ++++++++++++++++-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">
    <!-- ++++++++++++++ CSS INCLUDES ++++++++++++++++-->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- ++++++++++++++ VUEJS ++++++++++++++++-->
    <script defer src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- ++++++++++++++ GREENSOCK ++++++++++++++++-->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <!-- ++++++++++++++ ScrollReveal JS ++++++++++++++++-->
    <script defer src="js/scrollreveal.min.js"></script>
    <!-- ++++++++++++++ MAIN JS ++++++++++++++++-->
    <!-- <script defer src="js/scrollrevcalls.js"></script> -->
    <script defer src="js/get-monsters.js"></script>
    <!-- <script defer src="js/main.js"></script> -->
</head>
<body>
    <div id="app">
        <h1 class="hidden">Main Page</h1>
        <!-- ++++++++++++++ HEADER ++++++++++++++++-->
        <div id="sticky-nav">
            <header class="grid-con" id="main-header">
                <div id="main-logo" class="col-span-2 m-col-span-3 l-col-start-2 l-col-end-3">
                    <a href="index.html" class="nav-logo"><img src="images/logo.png" alt="Logo"></a> 
                </div>
            </header>
        </div>

        <!-- ++++++++++++++ HERO ++++++++++++++++-->
        <section id="hero-main" class="grid-con">
            <div id="hero-content" class="col-span-full l-col-start-2 l-col-end-6">
            <h2>Top 10 Strongest Boss Monsters</h2>
            <p>
                Get ready to face off against the meanest, toughest, and downright scariest boss monsters in Dungeons and Dragons!
            </p>     
            </div>
        </section>

        <!-- ++++++++++++++ MONSTERS ++++++++++++++++-->
        <section id="monsters-section" class="grid-con">
            <div id="monsters-content" class="col-span-full l-col-start-2 l-col-end-12">

                <div v-for="monster in monsterData" :key="monster.id" class="monster-card" @click="openModal(monster)">
                    <div class="monster-photo">
                        <img :src="'./images/thumbnail/' + monster.thumbnail" :alt="monster.name" class="open-sshot-modal">
                    </div>
                    <h1>#{{ monster.rank }}</h1>
                    <h2>{{ monster.name }}</h2>
                    <p><span>Type:</span> {{ monster.type }}</p>
                    <p><span>Subtype:</span> {{ monster.subtype }}</p>
                    <p><span>Alignment:</span> {{ monster.alignment }}</p>
                </div>

            </div>
        </section>
        
        <!-- ++++++++++++++ lightbox / Modal ++++++++++++++++-->
        <div id="sshotModal" class="modal" v-if="showModal">
            <div v-if="error">{{error}}</div>
            <span class="close" @click="closeModal">&times;</span>
            <section id="modal-sshot" class="grid-con lightbox-content">
                <div id="modal-content" class="col-span-full l-col-start-2 l-col-end-12">
                    <div class="monster-details">
                        <div class="monster-full-photo">
                            <img :src="'./images/full/' + monsterFullImg" :alt="monsterName">
                        </div>
                    </div>
                    <div class="monster-info">
                        <h2>{{monsterName}}</h2>
                        <p>{{monsterCr}}</p>
                        <h3>{{hp}} HP</h3>
                        <p><span>Challenge Rating:</span> {{challengeRating}}</p>
                        <h3>Attributes</h3>
                        <p><span>STR:</span> {{str}}</p>
                        <p><span>DEX:</span> {{dex}}</p>
                        <p><span>CON:</span> {{con}}</p>
                        <p><span>INT:</span> {{int}}</p>
                        <p><span>WIS:</span> {{wis}}</p>
                        <p><span>CHA:</span> {{cha}}</p>
                        <h3>Other</h3>
                        <p><span>Size:</span> {{size}}</p>
                    </div>
                </div>
            </section>
        </div>

        <!-- ++++++++++++++ Loader ++++++++++++++++-->
        <div id="loading-screen" v-if="isLoading">
            <div class="spinner">
                <img src="images/loader.gif" alt="loader">
            </div>
        </div>
        
    </div>
</body>
</html>