@use '../abstracts/variables' as v;

.monster-card {
    //height: 400px;
    width: 360px;
    padding: 20px;
    text-align: left;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    transition: all .3s ease-in-out;
    h2 {
        color: v.$accent-color;
        margin: 0;
        margin-top: 12px;
        margin-bottom: 26px;
    }

    &:hover {
        background-color: #d7d2be;
    }
}

.monster-photo {

    img {
        border-radius: 16px;
    }
}

@media screen and (min-width: 1200px) {

   

}


@media screen and (min-width: 1920px) {
    

}