@use '../abstracts/variables' as v;

.spinner {
    width: 50%;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: v.$primary-color;
    z-index: 9999; /* Ensure it's above other content */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}