@use '../abstracts/variables' as v;

body {
    background-color: v.$primary-color;
    color: v.$body-text-color;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

span {
    font-weight: bold;
}

.active {
    background-color: #df551e;
}

#hero-main {
    padding-top: 110px;
    padding-bottom: 110px;
    text-align: left;
    background: linear-gradient(rgba(18, 18, 18, 0.5), rgba(17, 17, 17, 0.5)), url(../images/hero.jpg);
    background-size: cover;
    background-position: center;

    h2 {
        font-family: v.$hero-heading;
        color: #fff;
        font-size: 58px;
        //width: 600px;
    }

    p {
        color: #fff;
        font-size: 18px;
        line-height: 36px;
        //width: 600px;
    }
}

#hero-content {
    margin: auto 0;
}

// Monsters section

#monsters-section {
    padding-top: 40px;
    padding-bottom: 40px;
    
    background-color: v.$secondary-color;
}

#monsters-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

// Monsters custom lightbox styling

// #modal-sshot {

// }

#modal-content {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.monster-details {
    width: 500px;
}

.monster-info {
    width: 600px;
    h2 {
        font-size: 80px;
        color: v.$accent-color;
    }
    h3 {
        font-size: 32px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}